.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
}

#bored-button {
  cursor: pointer;
  background-color: #1b7cd8;
  border: none;
  color: white;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #00b7ff;
}

#bored-button:hover {
  background-color: rgb(35, 192, 240);
  font-size: 20px;
}

#card {
  background-color: rgb(140, 236, 243);
  width: auto;
  height: auto;
  padding: 2em;
  border: 2px solid #00b7ff;
  text-align: left;
}
